.g-config-breadcrumb-container

form.g-settings-form(role="form")
  .g-settings-form-container
    h4 Instance Branding

  p.g-homepage-description
  | To configure elements of the default homepage

  .form-group
    label(for="g-homepage-header") Header
    input#g-homepage-header.form-control.input-sm(
        type="text", value= header || '',
        placeholder=`Default: ${defaultHeader || 'none'}`,
        title="The homepage header.")
  .form-group
    label(for="g-homepage-subheading-text") Subheading Text
    input#g-homepage-subheading-text.form-control.input-sm(
        type="text", value= subHeadingText || '',
        placeholder=`Default: ${defaultSubHeadingText || 'none'}`,
        title="The homepage subheader.")
  .form-group
    label(for="g-homepage-welcome-text") Welcome Text
    input#g-homepage-welcome-text.form-control.input-sm(
        type= "text", value= welcomeText || '',
        placeholder=`Default: ${defaultWelcomeText || 'none'}`,
        title="The homepage welcome text (rendered as the first paragraph of the gray callout box.")

p.g-homepage-description
  | To completely replace the homepage content (ignoring the other settings), enter Markdown here.

.g-homepage-container

p#g-homepage-error-message.g-validation-failed-message

form#g-homepage-form(role="form")
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
