.g-config-breadcrumb-container

form.g-settings-form(role="form")
  .g-settings-form-container
    h4 Instance Branding

  p.g-homepage-description
  | To configure elements of the default homepage

  .form-group
    label(for="g-homepage-header") Header
    input#g-homepage-header.form-control.input-sm(
        type="text", value= header || '',
        placeholder=`Default: ${defaultHeader || 'none'}`,
        title="The homepage header.")
  .form-group
    label(for="g-homepage-subheader") Subheader
    input#g-homepage-subheader.form-control.input-sm(
        type="text", value= subHeader || '',
        placeholder=`Default: ${defaultSubHeader || 'none'}`,
        title="The homepage subheader.")
  .form-group
    label(for="g-homepage-welcome-text") Welcome Text
    #g-homepage-welcome-text.g-homepage-welcome-text-container

  .form-group
    label(for="g-homepage-logo") Logo
    input#g-homepage-logo.g-logo-element.input-sm.hidden(
        type="file", title="The front page logo.")
    .g-logo-container
      .g-logo-btn-container
        button#g-homepage-upload-logo-btn.g-homepage-logo-btn.btn.btn-sm.btn-default(
          type="button", title="Upload button") Browse...
        button#g-homepage-default-logo-btn.g-homepage-logo-btn.btn.btn-sm.btn-default(
          type="button", title="Default button") Default logo
      img.g-preview-logo.g-logo-element.hidden(src="#", alt="Branding logo")

  .g-test

p.g-homepage-description
  | To completely replace the homepage content (ignoring the other settings), enter Markdown here.

.g-homepage-container

p#g-homepage-error-message.g-validation-failed-message

form#g-homepage-form(role="form")
  input.btn.btn-sm.btn-primary(type="submit", value="Save")
