.g-frontpage-header
  .g-frontpage-logo-container
    img.g-frontpage-logo(src=require('girder/assets/Girder_Mark.png'))
  .g-frontpage-title-container
    .g-frontpage-title #{brandName}
    .g-frontpage-subtitle= "DATA MANAGEMENT PLATFORM"

.g-frontpage-body
  .g-frontpage-paragraph
    .g-frontpage-welcome-text-content
      b.g-frontpage-welcome-text Welcome to #{brandName}!

    .g-frontpage-content
      .g-frontpage-girder-description
        if brandName === 'Girder'
          | Girder is
        else
          | #{brandName} is powered by Girder,
        |  a data management plateform that provides cloud data storage with a web interface to your data and files.

      .g-frontpage-nav
        a(target="_blank", href="http://girder.readthedocs.io/en/latest/user-guide.html")
          i.icon-book-1
          span= "User Guide"
        a(target="_blank", href="http://girder.readthedocs.io/en/latest")
          i.icon-book
          span= "Documentation"
        a(href=apiRoot)
          i.icon-cog-alt
          span= "Web API"
        a(target="_blank", href="https://github.com/girder/girder")
          i.icon-github-circled
          span= "GitHub"

      .g-frontpage-resonant
        | Girder is a part of
        a(target="_blank", href="http://resonant.kitware.com")  Resonant
        | , Kitware's open-source platform for data management, analytics, and
        | visualization. To learn more, you can read our series of
        a(target="_blank", href="https://blog.kitware.com/tag/resonant/")  blog posts
        |  about Resonant, or
        a(target="_blank", href="http://www.kitware.com/contact-us")  contact us
        |  to learn how we can help you solve your data problems.
