.g-frontpage-header
  img.g-frontpage-logo(src=require('girder/assets/Girder_Mark.png'), width="82")
  .g-frontpage-title-container
    .g-frontpage-title Girder
    .g-frontpage-subtitle Data management platform

.g-frontpage-body
  p.g-frontpage-paragraph
    b Welcome to Girder!

    ul
      if !currentUser
        li You are currently browsing anonymously.
        ul
          li
            | To explore the data hosted on this server, start with the
            a.g-collections-link  Collections
            |  page.

          li
            | To create an account, use the
            a.g-register-link  Register
            |  link in the upper right corner.

          li
            | If you already have an account you can
            a.g-login-link  log in
            |  with the link in the upper right corner.
      else
        li
          | You are currently logged in as
          b  #{currentUser.get('login')}
          | .

          ul
            li
              | To explore the data hosted on this server, start with the
              a.g-collections-link  Collections
              |  page.

            li
              | To explore your data, go to your
              a.g-my-folders-link  personal data space
              |  or your
              a.g-my-account-link  user account page
              | .

      li
        | To learn more about Girder, including how you can host your own
        | instance either locally or in the cloud, see the
        a(target="_blank", href="http://girder.readthedocs.io/en/latest/user-guide.html")  User Guide
        | , the
        a(target="_blank", href="http://girder.readthedocs.io/en/latest")  full documentation
        | , or visit the
        a(target="_blank", href="https://github.com/girder/girder")  GitHub repository
        | .

      li
        | To use Girder's REST API to interact with this server, check out the
        a(href=apiRoot)  interactive web API docs
        | .

      li
        | Girder is a part of
        a(target="_blank", href="http://resonant.kitware.com")  Resonant
        | , Kitware's open-source platform for data management, analytics, and
        | visualization. To learn more, you can read our series of
        a(target="_blank", href="https://blog.kitware.com/tag/resonant/")  blog posts
        |  about Resonant, or
        a(target="_blank", href="http://www.kitware.com/contact-us")  contact us
        |  to learn how we can help you solve your data problems.

      if versionInfo.git
        li
          | This instance of Girder was built from Git version
          a.g-git-sha(target="_blank", href=`https://github.com/girder/girder/tree/${versionInfo.SHA}`)  #{versionInfo.shortSHA}
          | . API version #{versionInfo.apiVersion}.
      else
        li
          | This instance of Girder was built on #{new Date(versionInfo.date).toLocaleDateString()}
          | . API version #{versionInfo.apiVersion}.
