.g-body-title Plugins
div.g-plugin-restart
  button.g-plugin-restart-button.btn.btn-danger
    i.icon-cw
    | Restart Server
  .g-plugin-restart-text
    | The selected plugins have changed.  You must restart the server for the
    | changes to take effect.
  .g-plugin-clear
.g-plugin-list-container
  each plugin in allPlugins
    .g-plugin-list-item
      input.g-plugin-switch(type="checkbox", key="#{plugin.key}",
                            disabled=!plugin.value.meetsDependencies,
                            checked=(plugin.value.enabled ? "checked" : undefined))
      .g-plugin-name
        | #{plugin.value.name}
        if (plugin.value.version)
          span.g-plugin-version
            | Version #{plugin.value.version}
        if(plugin.value.configRoute)
          a.g-plugin-config-link(g-route="#{plugin.value.configRoute}",
                                 title="Configure Plugin")
            i.icon-cog
      .g-plugin-description #{plugin.value.description}
        if (!plugin.value.meetsDependencies)
          .g-plugin-warning This plugin has unmet dependencies.
