.g-body-title Plugins
  .g-rebuild-container
    button.g-rebuild-web-code.btn.btn-primary(title="Rebuild web code for all enabled plugins")
      i.icon-arrows-cw
      | Rebuild web code
    .g-clear
.g-plugin-restart
  button.g-plugin-restart-button.btn.btn-danger
    i.icon-cw
    | Restart Server
  .g-plugin-restart-text.
    The selected plugins have changed.  You must restart the server for the
    changes to take effect.
  .g-plugin-clear
.g-plugin-list-container
  each plugin in allPlugins
    - var experimental = plugin.value.version ? plugin.value.version.indexOf('0.') === 0 : true
    .g-plugin-list-item
      input.g-plugin-switch(type="checkbox", key=plugin.key,
          disabled=plugin.value.unmetDependencies.length > 0,
          checked=(plugin.value.enabled ? "checked" : undefined),
          experimental=(experimental ? "true" : undefined),
          data-on-color=(experimental ? "warning" : "primary"))
      .g-plugin-name
        span= plugin.value.name
        if plugin.value.version
          span.g-plugin-version Version #{plugin.value.version}
        if experimental
          span.g-experimental-notice(
            title="WARNING: this plugin is an alpha version and is subject " +
                  "to breaking changes; use at your own risk.") Experimental
        if plugin.value.configRoute
          a.g-plugin-config-link(g-route=plugin.value.configRoute, title="Configure Plugin")
            i.icon-cog
      .g-plugin-description= plugin.value.description
        if (plugin.value.unmetDependencies.length)
          .g-plugin-warning.g-plugin-error-message
            | This plugin has unmet dependencies: #{plugin.value.unmetDependencies.join(', ')}.
