if isFolder
  p.
    Running this will retrieve the task listing from the specified Docker image.
    A new item will be created for each task, each of which will contain the
    task specification in its metadata. These items can then be run as tasks via
    the worker.
else
  p.
    Running this will retrieve the task specification for the specified task
    from the specified Docker image. This item's metadata will be updated to
    contain the task specification. This item can then be run as a task via the
    worker.
.form-group
  label Docker image identifier
  input.g-configure-docker-image.form-control.input-sm(name="docker-image", value=currentImage)
if !isFolder
  .form-group
    label Task name
    input.g-configure-task-name.form-control.input-sm(value=currentTaskName)
  .checkbox
    label
      input.g-configure-use-name(type="checkbox", checked=true)
      | Update the name of this item from the task name
  .checkbox
    label
      input.g-configure-use-description(type="checkbox", checked=true)
      | Update the description of this item from the task description
.checkbox
  label
    input.g-configure-docker-pull-image(type="checkbox", checked=true)
    | Pull image from Docker Hub
