.g-item-task-inputs-container
  .g-job-info-key(property="inputs") Inputs:
  ul
    each input, id in (job.get('itemTaskBindings').inputs || {})
      li
        b.g-input-name #{id}:&nbsp;
        if input.mode === 'inline'
          span.g-input-value(input-id=id)= JSON.stringify(input.data)
        else if input.mode === 'girder'
          a.g-input-value(input-id=id, href=`#${input.resource_type || 'file'}/${input.id}`)
            | View #{input.resource_type}
.g-item-task-outputs-container
  .g-job-info-key(property="outputs") Outputs:
  ul
    each output, id in (job.get('itemTaskBindings').outputs || {})
      li
        b.g-output-name #{id}:&nbsp;
        if output.mode === 'girder'
          if 'itemId' in output
            a.g-output-value(href=`#item/${output.itemId}`) View output item
          else
            span Not created &mdash;&nbsp;
            a(href=`#${output.parent_type || 'folder'}/${output.parent_id}`) view destination
.g-item-task-setup-again
  a(href=`#item_task/${job.get('itemTaskId')}/run?fromJob=${job.id}`)
    i.icon-play
    |  Configure and run task again from these parameters
