ul.g-file-list
  each file in files
    li.g-file-list-entry
      a.g-file-list-link(cid=file.cid,
                         target=file.get('linkUrl') ? '_blank' : '_self',
                         href=file.downloadUrl())
        if file.get('linkUrl')
          i.icon-link
          span.g-file-name= file.name()
          i.icon-link-ext
        else
          i.icon-doc-inv
          = file.name()
      if file.has('size')
        .g-file-size (#{girder.formatSize(file.get('size'))})
      .g-file-actions-container(file-cid=file.cid)
        a.g-view-inline(target="_blank", title="View in browser",
                        href=file.downloadUrl({contentDisposition: 'inline'}))
          i.icon-export
        if parentItem && parentItem.get('_accessLevel') >= girder.AccessType.WRITE
          a.g-update-info(title="Edit file info")
            i.icon-edit
          a.g-update-contents(title="Replace file contents")
            i.icon-upload
          a.g-delete-file(title="Delete file")
            i.icon-cancel
  if hasMore
    li.g-show-more
      a.g-show-more-files
        i.icon-level-down
        | Show more files...
