.panel-group#g-assetstore-accordion
  .panel.panel-default
    .panel-heading(data-toggle="collapse",
        data-parent="#g-assetstore-accordion",
        data-target="#g-create-fs-tab")
      .panel-title
        a
          i.icon-hdd
          span Create new #[b Filesystem] assetstore
    #g-create-fs-tab.panel-collapse.collapse
      .panel-body
        p.
          This type of assetstore will store files in a directory on the
          local filesystem, using content-addressed storage to ensure that
          data is never duplicated on disk. Just specify the root directory
          that files will be stored under.
        p.
          If the specified root directory does not already exist, the server
          will attempt to create it.
        form#g-new-fs-form(role="form")
          .form-group
            label.control-label(for="g-new-fs-name") Assetstore name
            input.input-sm.form-control#g-new-fs-name(type="text", placeholder="Name")
          .form-group
            label.control-label(for="g-new-fs-root") Root directory
            input.input-sm.form-control#g-new-fs-root(
              type="text", placeholder="Root directory")
          p#g-new-fs-error.g-validation-failed-message
          input.g-new-assetstore-submit.btn.btn-sm.btn-primary(type="submit", value="Create")

  .panel.panel-default
    .panel-heading(data-toggle="collapse",
        data-parent="#g-assetstore-accordion",
        data-target="#g-create-gridfs-tab")
      .panel-title
        a
          i.icon-leaf
          span Create new #[b GridFS] assetstore
    #g-create-gridfs-tab.panel-collapse.collapse
      .panel-body
        p.
          This type of assetstore uses
          MongoDB's #[a(target="_blank", href="http://docs.mongodb.org/manual/core/gridfs/") GridFS]
          storage engine. The files should be stored in a separate database
          from the rest of the server's information to avoid locking issues.
        form#g-new-gridfs-form(role="form")
          .form-group
            label.control-label(for="g-new-gridfs-name") Assetstore name
            input.input-sm.form-control#g-new-gridfs-name(type="text", placeholder="Name")
          .form-group
            label.control-label(for="g-new-gridfs-db") Database name
            input.input-sm.form-control#g-new-gridfs-db(
              type="text", placeholder="Database name")
          .form-group
            label.control-label(for="g-new-gridfs-mongohost") Mongo Host URI
            input.input-sm.form-control#g-new-gridfs-mongohost(
                type="text", placeholder="Mongo host uri (defaults to the main Girder database)")
          .form-group
            label.control-label(for="g-new-gridfs-replicaset") Replica Set
            input.input-sm.form-control#g-new-gridfs-replicaset(
                type="text", placeholder="Replica set name (blank if not using a replica set)")
          p#g-new-gridfs-error.g-validation-failed-message
          input.g-new-assetstore-submit.btn.btn-sm.btn-primary(type="submit", value="Create")

  .panel.panel-default
    .panel-heading(data-toggle="collapse",
        data-parent="#g-assetstore-accordion",
        data-target="#g-create-s3-tab")
      .panel-title
        a
          i.icon-upload-cloud
          span Create new #[b Amazon S3] assetstore
    #g-create-s3-tab.panel-collapse.collapse
      .panel-body
        p.
          This type of assetstore keeps files in
          an #[a(target="_blank", href="http://aws.amazon.com/s3/") Amazon S3]
          bucket. The service defaults to s3.amazonaws.com. You can specify an
          alternate service, including an optional protocol and port using the
          form [http[s]://](service domain)[:(port)].
        form#g-new-s3-form(role="form")
          .form-group
            label.control-label(for="g-new-s3-name") Assetstore name
            input.input-sm.form-control#g-new-s3-name(type="text", placeholder="Name")
          .form-group
            label.control-label(for="g-new-s3-bucket") S3 bucket name
            input.input-sm.form-control#g-new-s3-bucket(type="text", placeholder="Bucket")
          .form-group
            label.control-label(for="g-new-s3-prefix") Path prefix (optional)
            input.input-sm.form-control#g-new-s3-prefix(type="text", placeholder="Prefix")
          .form-group
            label.control-label(for="g-new-s3-access-key-id") Access key ID
            input.input-sm.form-control#g-new-s3-access-key-id(type="text", placeholder="Access key ID")
          .form-group
            label.control-label(for="g-new-s3-secret") Secret access key
            input.input-sm.form-control#g-new-s3-secret(type="text", placeholder="Secret access key")
          .form-group
            label.control-label(for="g-new-s3-service") Service
            input.input-sm.form-control#g-new-s3-service(type="text", placeholder="Service name")
          .checkbox
            label
              input#g-new-s3-readonly(type="checkbox")
              | Read only
          p#g-new-s3-error.g-validation-failed-message
          input.g-new-assetstore-submit.btn.btn-sm.btn-primary(type="submit", value="Create")
