.g-task-progress-top
  .g-task-progress-bar.progress(class=progressClass)
    .progress-bar(class=barClass, style=`width: ${width};`)
      .progress-status
        .progress-percent
          = percentText
        .progress-left
          = timeLeftText
  .g-task-progress-title(title=progress.data.title)= progress.data.title
.g-task-progress-bottom
  .g-task-progress-message= progress.data.message
